@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

body{
    margin: 0 auto;
    display: flex;
}

#left-div {
    background-image: url("background.jpg");
    background-size: contain;
    width: 620px;
    height: 100vh;
    display: flex;   
    background-repeat: no-repeat;
    /* justify-content: center; */
    align-items: center;
} 

#left-inner-div{
    width: 98.5%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(10px);
    display: flex;
}

.left-img{
    width: 150px;
    height: 150px;
}

#left-text{
    font-size: 5rem;
    font-family: "Edu AU VIC WA NT Arrows", cursive;;
}

#right-div {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#signup-div {
    width: 55%; 
    min-width: 300px; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

legend {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: lighter;
    color: #858484;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    height: 3rem;
    padding: 10px;
    margin-top: 1rem;
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.login{
    margin: auto;
    text-align: center;
    padding-top: 1.5rem;
}
